.user{
    width:180px;
    height:180px;
    background-color: orange;
    border-radius: 50%;
    color:black;
    margin-left:px;
    text-align: center;
    margin-top: 10px;
    
    margin-left: -20px;
    /* display:inline-block; */
    border:5px solid dodgerblue;
    /* position:absolute; */
    
    
}
.admin{
    width:180px;
    text-align: center;
    height:180px;
    background-color:blueviolet;
    border-radius: 50%;
    color:black;
    margin-left:-10px;
    margin-top: 15px;
    /* display: inline-block; */
    border:5px solid dodgerblue;
    /* position:absolute; */
}
.top{
    height:50px;
}
.text2{
    /* margin-left: 50px; */
    margin-top: 80px;
}
.text1{
    /* margin-left: 50px; */
    margin-top: 80px;
}
.centerContent{
    justify-content:center;
    display:inline-block;
    align-items: center;
    text-align: center;
    /* position: relative; */
    top: 50%;
    left: 50%;
    /* margin: -25px 0 0 -25px;  */
    margin-top: 12%;
    margin-left: -90px;
    
}

.cover{
    height:200px;
    position: relative;
}
h5{
    margin-top: 10px;
}
.about{
    margin-top: -60px;
    margin-left: 400px;
}